---
import Button from "@/components/ui/Button.astro";
import TextHeader from "@/components/ui/TextHeader.astro";
import teamImage from "@/assets/team.png";
import { homeData } from "@/data/home.ts";
---

<section class="w-full flex justify-center" id="team">
  <div class="container flex flex-col items-center gap-10 py-16 pb-0">
    <div class="space-y-3">
      <TextHeader
        text={homeData.team.header.text}
        boldText={homeData.team.header.boldText}
      />
      <div class="text-secondary text-center text-base">
        {homeData.team.description}
      </div>
    </div>

    <Button href={homeData.team.cta.href} variant="primary" size="lg">
      {homeData.team.cta.text}
    </Button>

    <img src={teamImage.src} alt="Team" class="w-full max-w-2xl h-auto" />
  </div>
</section>
